{% extends "base.html" %}
{% block head_title %}<title>Spml | About</title>{% endblock %}

{% block sidebarnot %}
{% load static %}
<section class="mb-4">

  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">About us</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">
  <div class="container">
     
   
  <h2>Introduction To Saudi Prepared Media Laboratorys:</h2>
  <p>Saudi Prepared Media Laboratory (SPML) is a wholly owned ISO 9001:2008 certified Saudi company, distributing a complete range of freshly prepared, ready to use, Microbiological Culture Media for a wide range of industries , Clinical Industrial, Food, Dairy & Pharmaceutical etc. within the Kingdom and GCC region
We have been supplying media to laboratories in hospitals and clinics, industries throughout the Kingdom of Saudi Arabia and Middle East for more than two decades.
The Company is fully committed to the provision of first class diagnostic media products and associated services for our Customers.
We achieve this by being a pro-active customer focused organization and through the implementation of a Quality Management System to ISO 9001: 2008. Objectives are established so that we can always provide first class timely services to the demanding requirements of the health sector and other microbiological testing facilities.
As part of our commitment to continual improvement, systems are established to ensure that we measure the performance of our processes, review, and revise our policies and processes when necessary.
With regard to our employees, the Company policy will ensure that they have a high level of competence and awareness of the Company`s Quality Objectives. This will be achieved mainly through our systems for training and (CPD)
Saudi Prepared Media Laboratories is committed to meeting todays regulatory and industry standards we are currently working towards attaining ISO13485:2003 ad the CE Marking of our product against the IVD Directive 98/79/EC  and meet all SFDA requirements in terms of facility and product registration and conformity to the IR by the first quarter of 2015


<h2 STYLE='FONT-SIZE:14PX;'>Saudi Prepared Media Laboratory Company Ltd </h2><br /><h2 style='font-size:13px;' class='vision'>&lsquo;   A culture where quality matters &rsquo; </h2><br /><br /><br /><br />
<br /><br /><h2>OUR VISION:</h2>
<p class='hello'>Working in partnership with our customers to meet all their pre-prepared media needs and maintain our status the leading supplier of pre-prepared media supplies in the Saudi Arabian Market and Middle East.</p>
<br /><br /><h2>OUR MISSION:</h2>
<p class='hello'>Here at Saudi Prepared Media Laboratory Company Limited our team is 100%committed to assisting you our partners to meet your laboratory supply requirements.
We take pride in the fact we are a local wholly owned Saudi company committed to providing a high quality product and service, we were the first pre prepared media supplier within the Kingdom of Saudi Arabia and Middle East and remain the leading provider after over 30 years.
We see our relationship with our customers as a partnership rather than customer supplier relationship which has been built on the 30 years the company has been providing the market since being established in April 1984.
</p><br /><br /><br /><br />

</p>
      </p>
      </div> 
</section>
</p>
</section>



{% endblock sidebarnot %}
